.container{
  width: 50%;
  height: 300px;
  margin: 50px auto 10px;
  background: red;
  display: flex;
  flex-wrap: wrap;
}
.container .item{
  width: 33.33%;
  height: 50%;
  border: 1px solid blue;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  display: block;
  margin: 0 auto;
}