.container{
  position: relative;
  width: 30%;
  border-radius: 6px;
  border:1px solid red;
  overflow: hidden;
}
.img-box{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  z-index: -1;
  padding-bottom: 15%;
}
.img-box img{
  display: block;
  width: 100%;
}
.box-footer{
  height: 75px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding-left: 15px;
}
.box-footer ul{
  margin-left: 2px;
  display: flex;
  list-style-type: none;
}
.box-footer .title{
  font-size: 18px;
  color: white;
  padding: 10px 0;
}
.box-footer li {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 4px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.4);
    overflow: hidden;
    cursor: pointer;
}
.box-footer ul .active{
    width: 14px;
    height: 14px;
    margin: 1px;
    background: white;
}
.mengceng{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  -webkit-mask-image: linear-gradient(0,#2f3238 22%,transparent 40%);
}

